html {
    scroll-behavior: smooth;
  }
  :root {
    --primary-bg: #1c1c1c;
    --secondary-bg: #2e2e2e;
    --text-color: #e0e0e0;
    --accent-color: #4caf50;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
  }