:root {
    --primary-bg: #a1c3dc;
    --secondary-bg: #c4d5e5;
    --text-color: #0a1725;
    --accent-color: #5fadd2;
    --accent-color-light: #327ac0;
    --accent-color-dark: #74baec;
    --link-color: #0066cc;
    --link-hover-color: #0a1725;
  }
  body.dark-mode {
    --primary-bg: #5e3c23;
    --secondary-bg: #3b2a1a;
    --text-color: #f5e8da;
    --accent-color: #a0522d;
    --accent-color-light: #cd853f;
    --accent-color-dark: #8b4513;
    --link-color:  #ffb070;
    --link-hover-color: white;
}